a {
font-size: 30px;
}
.large {
 font-size: 20px;
}
.box {
 font-size: 20px;
 width: 200px;
 user-select: none;
 border: 1px solid #AAAA00;
}
.container{
 position: absolute;
 width: 0px;
 height: 0px;
}
.key {
 width: 400px;
 height: 300px;
 height: 350px;
 user-select: none;
}
#label_TT{
 position: relative;
 right: -230px;
}
.box#uni_tt {
 width: 498px;
 min-height: 448px;
 background: #EEEEAA;
 position: relative;
 top: 25px;
 font-family: 'Times New Roman', Times, serif, Georgia;
 font-size: 20px;
 white-space: pre-wrap;
}
#txt_tt{
 width: 500px;
 height: 450px;
 position: relative;
 top: 25px;
 font-family: 'Times New Roman', Times, serif, Georgia;
 font-size: 20px;
}
.key#key_ru {
 background: #00EEEE;
 z-index: 1	;
 position: fixed;
 left: 155px;
 top: 170px;
}

#label_RU{
 top: 0px;
 position: relative;
 right: -730px;
}
.box#uni_ru {
 width: 498px;
 min-height: 448px;
 background: #AAEEEE;
 position: relative;
 right: -500px;
 top: 25px;
 font-family: 'Times New Roman', Times, serif, Georgia;
 font-size: 20px;
 white-space: pre-wrap;
}
#txt_ru{
 width: 500px;
 height: 450px;
 position: relative;
 right: -500px;
 top: 25px;
 font-family: 'Times New Roman', Times, serif, Georgia;
 font-size: 20px;
}
.key#key_tt {
 background: #EEEE00;
 z-index: 0;
 position: fixed;
 top: 168px;
 left: 655px;
}

.tbtn {
 border: 1px solid #AAAA00;
 background: #00EE00;
 font-size: 15px;
 text-align: center;
}


.btn {
 border: 1px solid #AAAA00;
 background: #EEEE00;
 width : 90px;
 font-size: 15px;
 text-align: center;
}

.btn#r {
 color : #FF00EE;
}

.btn#f {
 color : #FF0000;
}

span {
 font-family: 'Times New Roman', Times, serif, Georgia;
 font-size: 20px;
}
textarea{
 resize: vertical;
 font-family: 'Times New Roman', Times, serif, Georgia;
 font-size: 20px;
 overflow:hidden;
 display: flex;
 align-items: flex-start;
 padding: 0px;
}
.btn#get {
 border:1px solid #007700;
 background: #00FFFF;
 width: 70px;
 height: 70px;
 top: 165px;
}
.box#Pa {
 background: #0000FF;
 width: 70px;
}
.box#list {
 border:1px solid #007700;
 width: 70px;
}

.btn#more {
 width: 70px;
 height: 70px;
}
.btn#add {
 width: 70px;
 height: 70px;
}

#menu{
 position: fixed;
 top: 45px;
}
.box#info {
 height: 200px;
 width: 250px;
 background: #FFFF99;
 position: fixed;
 left: 480px;
 top: 145px;
 z-index: 1;
}
.btn#save{
 border:1px solid #007700;
 background: #00FF00;
 width: 70px;
 height: 70px;
 text-align: center;
}
.tbtn#load_TT{
 width: 40px;
 height: 20px;
}
.tbtn#new_TT{
 width: 40px;
 height: 20px;
}
.tbtn#copy_TT{
 width: 40px;
 height: 20px;
}
.tbtn#switch_TT{
 width: 40px;
 height: 20px;
}
.tbtn#load_RU{
 width: 40px;
 height: 20px;
}
.tbtn#new_RU{
 width: 40px;
 height: 20px;
}
.tbtn#copy_RU{
 width: 40px;
 height: 20px;
}

.btn#load{
 width: 70px;
 height: 35px;
}
.btn#new{
 width: 70px;
 height: 35px;
}
.label{
 border: 1px solid green;
 width: 40px;
 user-select: none;
}
.keybtn{
 border: 1px solid green;
 font-size: 40px;
 width: 48px;
 height: 48px;
 text-align: center;
}
.keybtnsp{
 border: 1px solid green;
 font-size: 20px;
 width: 48px;
 height: 48px;
 text-align: center;
 vertical-align: 20px	;
}
.input{
 height: 300px;
 font-size: 18px;
}

#count_TT {
 position: absolute;
 left: 150%;
 top: -50%;
 z-index: 1;
 font-size: 28px;
 background: #CCCCCC;
 border: 1px black dotted;
 width: 100px;
 height: 30px;
 text-align: center;
}
#count_RU {
 position: absolute;
 left: 150%;
 top: -50%;
 z-index: 1;
 font-size: 28px;
 background: #CCCCCC;
 border: 1px black dotted;
 width: 100px;
 height: 30px;
 text-align: center;
}

#label_BA{
 position: relative;
 right: -230px;
}
.box#uni_BA {
 width: 498px;
 min-height: 448px;
 background: #DDEEDD;
 position: relative;
 top: 25px;
 font-family: 'Times New Roman', Times, serif, Georgia;
 font-size: 20px;
 white-space: pre-wrap;
}
#txt_BA{
 width: 500px;
 height: 450px;
 position: relative;
 top: 25px;
 font-family: 'Times New Roman', Times, serif, Georgia;
 font-size: 20px;
}
.key#key_BA {
 background: #00EE00;
 z-index: 0;
 position: fixed;
 top: 168px;
 left: 655px;
}
.tbtn#load_BA{
 width: 40px;
 height: 20px;
}
.tbtn#new_BA{
 width: 40px;
 height: 20px;
}
.tbtn#copy_BA{
 width: 40px;
 height: 20px;
}
.tbtn#switch_BA{
 width: 40px;
 height: 20px;
}


#count_BA {
 position: absolute;
 left: 150%;
 top: -50%;
 z-index: 1;
 font-size: 28px;
 background: #CCCCCC;
 border: 1px black dotted;
 width: 100px;
 height: 30px;
 text-align: center;
}
